
nav{
    background-color: yellow;
}
li{
    display: inline-block;
    text-align: left;
}
body{
    background-color: black;
    color: white;
}
.imgicon{
    width: 70px;
    margin: 10px;
    border-radius: 30%;
}
a{
    text-decoration: none;
    color: black;
}