*{
    margin: 0
}
.contenedor{
    font-size: 20px;
}
.contenedor div{
    display: inline-block;
}
.primario{
    background-color: red;
    float: right;
    width: 50%;
}
.secundario{
    background-color: yellow;
    float: right;
    width: 50%;
}
.terciario{
    background-color: greenyellow;
}
.floatenimg{
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border: 4px solid red;
    background-color: grey;
    width: 50%;
}
.floatenimg img{
    float: right;
}
img{
    width: 200px;
    height: 100px;
}