*{
    margin: 0px
}
.caja1{
    width: 400px;
    height: 400px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja1 .imgcaja1{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.caja2{
    width: 400px;
    height: 400px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja2 .imgcaja2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.caja3{
    width: 400px;
    height: 400px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja3 .imgcaja3{
    width: 100%;
    height: 100%;
    object-fit: none;
}
.caja4{
    width: 400px;
    height: 400px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja4 .imgcaja4{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.caja5{
    width: 100%;
    height: 50px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja6{
    width: 100%;
    height: 50px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja7{
    width: 200px;
    height: 300px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja7 .imgcaja7{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.caja8{
    width: 200px;
    height: 300px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja8 .imgcaja8{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}
.caja9{
    width: 200px;
    height: 300px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja9 .imgcaja9{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.caja10{
    width: 200px;
    height: 300px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja10 .imgcaja10{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.caja11{
    width: 200px;
    height: 300px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja11 .imgcaja11{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 1em;
}
.caja12{
    width: 200px;
    height: 300px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
}
.caja12 .imgcaja12{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -1em;
}