.imgicon{
    height: 40px;
    width: 70px;
    margin: 5px;
    border-radius: 30%;
    border: 3px solid black;
}
ul{
    list-style:none
}
li{
    display: inline-block;
    margin: 10px;
}
a{
    text-decoration: none;
}
.clasesfloats{
    background-color: orange;
    margin-top: 30px;
    margin-bottom: 30px;
}
.divconulright{
    background-color: lightseagreen;
    margin-bottom: 10px;
}
.ulright {
    float: right;
}

.divconulleft{
    background-color: lightseagreen;
    margin-bottom: 10px;
}
.divconulleft img{
    float: right;
}
.clasespositions{
    background-color: orangered;
}
.divpositionrelative{
    background-color: green;
    margin-bottom: 10px;
}
.ulpositionrelative{
    position: relative;
    left: 730px;
    bottom: 50px;
}
.divpositionabsolute{
    background-color: limegreen;
    margin-bottom: 10px;
}
.ulpositionabsolute{
    position: absolute;
    left: 400px;
    top: 285px;
}
.claseszindex{
    width: 100%;
    height: 300px;
    background-color: orchid;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: -1;
}
.claseszindex .padre{
    width: 80%;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.3);
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
}
.claseszindex .padre p{
    color: yellow;
    text-align: center;
}
.claseszindex .padre .hijo{
    width: 30%;
    height: 100px;
    background-color: seagreen;
    position: relative;
    left: 850px;
    z-index: -50;
}
.claseszindex .padre .hija{
    width: 30%;
    height: 100px;
    background-color: pink;
    position: relative;
    left: 85%;
    bottom: 20px;
    z-index: -20;
}
.positionfixed{
    background-color: red;
    position: fixed;
    top: 0px;
    margin-left: 60px;
    max-width: 80%;
}
.contenidodestiky{
    background-color: yellow;
}
.stiky{
    position: sticky;
    top: 0px;
    background-color: violet;
}