*{
    margin-left: 0;
    margin-right: 0;
}
header{
    width: 100%;
    height: 65px;
    margin-top: -65px;
    text-transform: uppercase;
    background-color: purple;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    /* color: ; */

}
body{
    margin-top: 65px;
    background-color: red;
}